// Constraints the element to a given size
$Cage-sizes: (
  small: 300px,
  base: 400px,
  large: 500px,
  coc: 480px,
  details: 480px,
  detailsFull: 1020px,
  bragaSmall: 240px,
  bragaLarge: 380px,
  bragaNearby: 460px,
);

.Cage {
  max-width: 100%;
}

.Cage.max70Percent {
  max-width: 70%;
}

@each $name, $value in $Cage-sizes {
  .Cage.#{$name} {
    width: $value;
  }

  .Cage.#{$name}AtMost {
    max-width: $value;
  }
}

.Cage.smallThenLarge {
  @include mobile {
    width: map-get($Cage-sizes, 'small');
  }

  @include desktop {
    width: map-get($Cage-sizes, 'large');
  }
}

.Cage.bragaNearby-desktop {
  @include desktop {
    width: map-get($Cage-sizes, 'bragaNearby');
  }
}
