.Flex {
  display: flex;
}

.Flex.row {
  flex-direction: row;
}

.Flex.column {
  flex-direction: column;
}

.Flex.wrap {
  flex-wrap: wrap;
}

.Flex.alignCenter {
  align-items: center;
}

.Flex.justifyCenter {
  justify-content: center;
}

.Flex.justifyEnd {
  justify-content: flex-end;
}

.Flex.spaceAround {
  justify-content: space-around;
}

.Flex.spaceBetween {
  justify-content: space-between;
}

.Flex-grow {
  flex-grow: 1;
  max-width: 100%;
}

@include mobile {
  .Flex.column-mobile {
    flex-direction: column;
  }

  .Flex.justifyCenter-mobile {
    justify-content: center;
  }
}

@include desktop {
  .Flex.row-desktop {
    flex-direction: row;
  }

  .Flex.justifyEnd-desktop {
    justify-content: flex-end;
  }
}
