.Flex {
  display: flex;
}

.Flex.row {
  flex-direction: row;
}

.Flex.column {
  flex-direction: column;
}

.Flex.alignCenter {
  align-items: center;
}

.Flex.spaceAround {
  justify-content: space-around;
}

.Flex-grow {
  flex-grow: 1;
  max-width: 100%;
}
