$Img-plants: (
  'logo': (
    width: (200px, 400px),
    height: (55px, 110px),
  ),
  'icons/twitter': (
    extension: 'svg',
    width: 30px,
    height: 30px,
  ),
  'icons/github': (
    extension: 'svg',
    width: 30px,
    height: 30px,
  ),
  'plants/hero-desktop': (
    width: (100%, 100%),
    height: (150px, 300px),
  ),
  'plants/blue-flower': (
    width: (50px, 100px),
    height: (50px, 100px),
  ),
  'plants/separator': (
    width: (150px, 200px),
    height: (60px, 60px)
  ),
  'plants/separator-alt': (
    width: (150px, 200px),
    height: (60px, 60px)
  ),
  'plants/tall': (
    width: (150px, 150px),
    height: (490px, 490px)
  ),
  'plants/more-speakers': (
    width: (254px, 254px),
    height: (54px, 54px)
  )
);

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@each $key, $values in $Img-plants {
  .Img.#{str-replace($key, '/', '-')} {
    $extension: map-get($values, 'extension');
    @if (not $extension) {
      $extension: 'png';
    }

    @include responsive-background-image('/images/#{$key}', $extension: $extension);
    @include responsive(map-remove($values, 'extension'));

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.Img.plants-hero-desktop {
  width: 80%;
  margin: auto;

  transform: translateY(-50px);
}

$Img--tweet-values: (
  width: (50px, 60px),
  height: (50px, 60px),
);

.Img.tweet {
  @include responsive($Img--tweet-values);

  border-radius: 50%;
}
