$Panel-responsive: (
  padding: (0 20px, 0 40px)
);

.Panel {
  @include responsive($Panel-responsive);
}

.Panel.sand {
  background-color: $color-sand;
}

.Panel.white {
  background-color: $color-white;
}

.Panel.cyan {
  background-color: $color-bright-cyan;
}

.Panel.fullWidth {
  padding: 0;
}
