$Speaker-padding: 0 $space-base;
$Speaker-title-color: $color-greenish-teal;
$Speaker--master-title-color: $color-azure;

$Speaker-photo-responsive: (
  width: (200px, 250px),
  height: (200px, 250px)
);

$Speaker-title-responsive: (
  max-width: map-get($Speaker-photo-responsive, width)
);

.Speaker {
  padding: $Speaker-padding;

  text-align: center;

  position: relative;
}

.Speaker:not(:last-of-type) .Speaker-photoOverlay {
  @include responsive($Speaker-photo-responsive);

  position: absolute;
  top: 0;

  background-image: url('/images/photo-frame.png');
  background-size: 100% 100%;
}

@for $i from 1 through 10 {
  .Speaker:nth-of-type(#{$i}) {
    $rotation: $i * 20;

    .Speaker-photoOverlay {
      transform: rotateZ(#{$rotation}deg) scale(1.15);
      transition: all 0.3s ease-in-out;

      &:hover {
        $rotation: $i * 20 + 5;
        transform: rotateZ(#{$rotation}deg) scale(1.15);
      }
    }
  }
}

.Speaker-photo {
  @include responsive($Speaker-photo-responsive);

  border-radius: 50%;
}

.Speaker-firstName,
.Speaker-lastName {
  @include font('large', $responsive: false);
}

.Speaker-lastName {
  font-weight: bold;
}

.Speaker-title {
  @include font('base', $responsive: false);
  @include responsive($Speaker-title-responsive);

  color: $Speaker-title-color;
}

.Speaker.master {
  .Speaker-title {
    color: $Speaker--master-title-color;
  }
}

.Speaker.more {
  .Speaker-photo {
    border-radius: 0;
  }
}
