$Sponsor-padding: 0 $space-small;
$Sponsor-max-width: 200px;
$Sponsor-max-height: 150px;

.Sponsor {
  padding: $Sponsor-padding;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.Sponsor-logo {
  max-width: $Sponsor-max-width;
  max-height: $Sponsor-max-height;
}
