$Sponsor-padding: 0 $space-small;
$Sponsor-max-width: 200px;

.Sponsor {
  padding: $Sponsor-padding;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.Sponsor-logo {
  max-width: $Sponsor-max-width;
  width: $Sponsor-max-width;
}
