$Text--red-color: $color-dark-salmon;
$Text--blue-color: $color-blue;
$Text--grey-color: $color-grey;
$Text--green-color: $color-greenish-teal;
$Text--white-color: $color-white;

.Text {
  color: $color-greyish-brown;
}

.Text.large {
  @include font('large');
}

.Text.huge {
  @include font('huge');
}

.Text.strong {
  font-weight: bold;
}

.Text.center {
  text-align: center;
}

.Text.logoRed,
.Text.logoBlue {
  text-transform: uppercase;
}

.Text.red {
  color: $Text--red-color;
}

.Text.blue {
  color: $Text--blue-color;
}

.Text.green {
  color: $Text--green-color;
}

.Text.grey {
  color: $Text--grey-color;
}

.Text.white {
  color: $Text--white-color;
}

.Text.quote:before {
  content: '“';
}

.Text.quote:after {
  content: '”';
}

.Text.link {
  text-decoration: none;
}
