---
title: RubyConf Portugal 2016
---

= partial "nav", locals: { noLogo: true }
= partial "index/hero"
= partial "index/newsletter"
= partial "index/speakers"
/ = partial "index/sponsors/sponsors_section", locals: { type: :platinum, modifier: :cyan, title_modifier: :white }
= partial "index/tickets"
= partial "index/sponsors/sponsors_section", locals: { type: :gold, modifier: :cyan, title_modifier: :white }
= partial "index/last_year"
/ = partial "index/sponsors/sponsors_section", locals: { type: :stone, modifier: :white }

- content_for :javascripts
  javascript:
    $(setupLandingAnimations);
