---
title: RubyConf Portugal 2016
---

= partial "nav", locals: { noLogo: true }
= partial "index/hero"
= partial "index/newsletter"
= partial "index/speakers"
= partial "index/tickets"
= partial "index/last_year"

- content_for :javascripts
  javascript:
    $(setupLandingAnimations);
